.container {
  margin: 0 auto 0 auto;
  width: 1000px;
  border: 1px solid #ccc;
}

.app {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  min-height: 500px;
}

.list {
  width: 40%;
  border: 1px solid #ccc;
}

.edit {
  width: 60%;
  border: 1px solid #ccc;
}

.edit-textarea {
  width: 99%;
  min-height: 80%;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 2rem;
}

.large-button {
  width: 80%;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.small-button {
  width: 20%;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}
